.autofill-rem{
    display:block;
    border: .5px solid black;
    width: 150px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}

.autofill-rem:hover{
    background-color: papayawhip;
    cursor: pointer;
}

.add-page-header{
    background-image: url('https://images.pexels.com/photos/544492/pexels-photo-544492.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: cover;
    height: 40vh;
    color: white;
    text-align: center;
}

.add-page-header>h1{
    position: absolute;
    margin:0;
    top: 28vh;  
    padding-left: 2%;  
}

.add-page-header>p{
    position: absolute;
    margin:0;
    top: 40vh;  
    padding-left: 2%; 
    color: red; 
}

#new-remedy-form{
    margin-top: 50px;
    text-align: center;
}
#new-remedy-form{

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16pt;
}

#new-remedy-form>input{
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12pt;
    padding: 5px;
}

#new-remedy-form>textarea{
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12pt;
    padding: 5px;
}