.browse-maladies-link{
    display: block;
    text-decoration: none;
    color: black;
    padding: 20px;
    border-radius: 2px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: .5px solid rgb(184, 182, 182);
}

.browse-maladies-link:hover{
    background-color: rgba(175, 144, 204, 0.623);
}

.remedies-counter{
    right: 15%;
    padding: 5px;
    position: absolute;
    background-color: rgba(197, 201, 214, 0.63);
    border-radius: 5px;
    width: 90px;
    text-align: center;
}

.malady-head{
    background-image: url('https://images.pexels.com/photos/1638280/pexels-photo-1638280.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-size: cover;
    height: 40vh;
}

.border-box{
    background-color: rgb(0,0,0,.2);
    height: 100%;
}

.border-box>h1{
    position: absolute;
    margin:0;
    top: 28vh;
    color: white;
    font-size: 32px;
    margin-left: 2%;
}

.browse-maladies-section{
    font-family: 'Roboto Condensed', sans-serif;
}

@media only screen and (min-width: 600px) {
    .border-box>h1{
        font-size: 30pt;
    }
}

