.malady-subsection{
    margin: 3%;
    padding: 5%;
    font-family: 'Roboto Condensed', sans-serif;

}

.mal-head-box>h1{
    text-align: center;
    margin:0;
    padding-top:50px;
    color:white;

}

.mal-head-box>p{
    color: white;
    padding-left:25%;
    background-color: rgba(0,0,0,.5);
    font-family: 'Roboto Condensed', sans-serif;
    font-size:14pt;
}

.mal-head-box{
    background-color: rgba(0,0,0,.25);
    height: 100%;
}

.malady-page-head{
    background-image: url('https://images.pexels.com/photos/461428/pexels-photo-461428.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-size:cover;
    height: 50vh;
    color: white;

}

.mal-head-box>h2{
    position: absolute;
    top: 46vh;
}

.remedies-header{
    background-image: url('https://images.pexels.com/photos/1715902/pexels-photo-1715902.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: cover;
    height: 40vh;
    color: white;
}

.remedies-header>h1{
    text-align: center;
    padding-top: 30vh;
    font-size: 24pt;
    margin-top:0;
}

.malady-subsection>p{
    font-size: 16pt;
}

.symptoms-label{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

}

.remedy-page{
    font-family: 'Roboto Condensed', sans-serif;

}

.click-to-add{
    margin:auto;
    width:200px;
    margin-top: 50px;
    padding:15px;
    border-radius:5px;
    font-size: 16pt;
    text-align:center;
    border: 1px solid;
}

.click-to-add:hover{
    background-color: black;
    color: white;
    cursor:pointer;
}

.add-error{
    color:red;
    text-align:center;
    font-size:16pt;
}

.no-remedies{
    text-align:center;
    font-size: 24pt;
}