.home-page{
    text-align: center;
    display: flex column;
    justify-content: space-between;
    background-image: url("https://images.pexels.com/photos/932577/pexels-photo-932577.jpeg?cs=srgb&dl=aromatherapy-aromatic-bottle-932577.jpg&fm=jpg");
    background-size: cover;
    height: 100vh;
}

.home-browse{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    width: 80%;
    color: black;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.767);
    margin-top: 20px;
    margin-bottom: 20px;

}

.home-browse:hover{
    background-color: gray;
    color: white;
}

.autofill{
    display:block;
    border: .5px solid black;
    width: 150px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 42%;
    padding: 3px;
    margin-top: 1px;
    background-color: rgb(112, 105, 122);
}

.autofill:hover{
    background-color: papayawhip;
}

button{
    margin: 10px;
}

#search-button{
    
    background-image: url('https://cdn.icon-icons.com/icons2/1509/PNG/512/systemsearch_104123.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    height: 45px;
    width: 45px;
    margin-left: -55px;
    border-radius: 5px;
    background-color: white;
    border: none;
    margin-top: 11px;
    margin-right: 14px
}

.home-hero{
    padding-top: 20px;
    text-align: left;
    margin-left:20px;
    font-size: 30pt;
    color: black;
    margin-right:100px;
    margin-top: 0;
    line-height: 1.1;
    margin-bottom: 50px;
}

#home-search-label{
    font-size:20pt;
    font-weight: bolder;
    padding: 10px;
}

#home-search-form{
    margin-top: 0px;
    width: 80%;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

#home-search-term{
    border-radius: 5px;
    font-size: 12pt;
    margin: 10px;
    width:100%;
    padding: 15px;
    border: none;
    margin-left:auto;
    margin-right:auto;
}

.subheader-home{
    color: white;
}

@media only screen and (min-width: 600px) {

#home-search-term{
    width: 70%;
    
}

#search-button{
    right: 20%;
    position: absolute;
    top: 273px;

}

.home-browse{
    width: 60%;
}

}

@media only screen and (min-width: 808px) {

    #search-button{
        top: 330px;
        right:28%
    }

    .home-hero{
    margin-bottom: 150px;
}

.home-browse{
    width: 44%;
}

#home-search-term{
    width: 50%;
    
}

}