.login-page-header{
    background-image: url('https://images.pexels.com/photos/1793035/pexels-photo-1793035.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    background-size: cover;
    height: 40vh;
    color: white;
    

}

.background-box>h1{
    position: absolute;
    margin:0;
    top: 28vh;
    padding-left: 2%;
}

.login-form{
    margin-top: 50px;
    text-align: center;
}
.login-body{
    font-size: 16pt;
    font-family: 'Roboto Condensed', sans-serif;

}

.login-form>input{
    margin-top: 3px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 12pt;
    padding: 5px;
}

.background-box{
    height:100%;
    background-color: rgba(0, 0, 0, 0.356);
    background-size: cover;
    
}

.login-button{
    height:35px;
    width:80px;
    border-radius: 5px;
    border: .5px solid black;
    background-color: peachpuff;
}

.login-button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {

    .background-box>h1{
        font-size: 30pt;
    }
}

.login-form>input{
    width: 200px;
}

