.nav-bar{
    width: 100%;
    height: 0px;
    text-align: center;
    background: transparent;
}

.screen-nav-bar{
  display: none;
} 

.nav-link{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}


.nav-link:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.nav-bar a.icon {
    background: transparent;
    display: block;
    position: absolute;
    right: 20px;
    top: 2px;
    color: white;
  }

  .bm-burger-button {
    position: fixed;
    width: 25px;
    height: 20px;
    right: 25px;
    top: 25px;
  }

  .bm-burger-bars {
    background:whitesmoke;
  }

  a.bm-item.nav-link{
      padding-top: 30px;
      font-size: 20pt;
      height: 60px;
      font-style: bolder;
  }

  .bm-overlay{
    background: rgba(0, 0, 0, 0.8);
  }

  nav.bm-item-list {
    position: fixed;
    right: 0px;
    background-color: rgba(0, 0, 0, 01.03);
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    left: 0px;
    padding-top: 50px;
}

.bm-cross {
    background-color: white;
    height:50px;
    width:50px;
    background-size: cover;
  }

  .bm-cross-button {
    position: absolute;
    height: 50px;
    width: 50px;
    background-size: cover;
    right:100px;
  }

  @media only screen and (min-width: 600px) {
   
    .bm-burger-button {
      display: none;
  }

  .screen-nav-bar{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-top: 0;
    padding-top: 10px;
    
  } 

  .nav-bar-link{
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16pt;
    margin-right: 15px;;
}

  .nav-bar-link:hover{
    background-color: black;
  }
  .home-hero{
    padding-top: 90px;
  }
}